body{
    font-family: poppins;
    height: 100%;
}
/* nav style */
.nav{
    background-color: lightgray;
    height: 80vh;
    position: relative;
    z-index: 0;
}
.nav:before{
content: "";
position: absolute;
z-index: -1;
top: 0;
bottom: 0;
left: 0; 
right: 0;
clip-path: circle(40% at 75% 5%);
background-color:#649549 ;
}
 ul li{
text-decoration: none;
 color: black;
 display: inline-flex;
 margin: 15px;
 padding: 20px;
}

.street{
    text-align: center;
}
#order{
    background-color: #6CB840;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-size: 25px;
    margin-left: 150px;
}

button{
    background-color: #6CB840;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-size: 25px;
    margin-left: 150px;
}
span{
    color: #EAAB1B;
}

h1{
    color: #6CB840;
}

.footer{
    background-color: #C9ECB5;
    height: 50%;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    margin: 0%;
    padding: 0%;
}
.hot{
    background-color: #6CB840;  
}
#menu{
    color: #6CB840;
}
.eat{
    display: flex;
    justify-content: space-around;
}
.eat .together{
    text-align: center;
   padding-top: 300px;
}
.explore h1{
    color: black;
}

.hot{
    background-color: #C9ECB5;
    display:inline-block;
    flex-wrap: wrap;
    width: 100%;
}
.sunday{
    margin-right: 200px;
    margin-top: 60px;
    border-right: #6CB840;
}
.follow{
    margin-right: 200px;
    margin-top: 70px;
}
.address{
    margin-right:200px;
    margin-top:70px;
}
.explore{
    background-color: #dcebd4;
}
.explore .one{
    background-color: white;
    margin: 70px;
    padding: 20px;
    border-bottom-right-radius: 25px;
    text-align: right;
    border-style:none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    float:inline-end;
    position: relative;
}

.contact{
    background-color: #FFD77C;
    align-content:center;
}
#deals{
    color:#6CB840 ;
}
#special{
    color: #6CB840;
}
#us{
    color: #62f10f;
}
.content{
    float:right;
    align-content: center;
}
.column{
    float: left;
    width: 35%;
    padding: 5px;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.con{
    text-align: center;
}
.img2{
    text-align:right;
}
