h1{
    color: #6CB840;
}
span{
    color: #EAAB1B;
}
.footer{
    background-color: #C9ECB5;
    height: 300px;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    margin: 0%;
    padding: 0%;
}
.hot{
    background-color: #6CB840;
}
#menu{
    color: #6CB840;
}
.eat{
    display: flex;
    justify-content: space-around;
}
.eat .together{
    text-align: center;
   padding-top: 300px;
}
.explore h1{
    color: black;
}
body{
    font-family: poppins;
}
.nav ul li{
    display: inline-flex;
    text-decoration: none;
}
.hot{
    background-color: #C9ECB5;
    display:inline-block;
    flex-wrap: wrap;
}
.sunday{
    margin-right: 200px;
    margin-top: 60px;
    border-right: #6CB840;
}
.follow{
    margin-right: 200px;
    margin-top: 70px;
}
.tnt{
    margin-right:200px;
    margin-top:70px;
}
.explore{
    background-color: #649549;
}

.explore{

}

button{
    background-color: #6CB840;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-size: 25px;
    margin-left: 150px;
}
.contact{
    background-color: #FFD77C;
    align:center;
}
#deals{
    color:#6CB840 ;
}
#SPEACIAL{
    color: #6CB840;
}
#us{
    color: #6CB840;
}
.nav{
    background-color: lightgray;
    height: 80vh;
    position: relative;
 z-index: 0;
}
